.user-settings-billing-addressstart-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.user-settings-billing-addressstart-user-settings-billing-addressstart {
  width: 100%;
  height: 2154px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.user-settings-billing-addressstart-text10 {
  top: 100px;
  left: 170px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-frame32 {
  gap: 10px;
  top: 100px;
  left: 1273px;
  width: 239px;
  height: 29px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(11, 102, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.user-settings-billing-addressstart-text11 {
  color: rgba(11, 102, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text12 {
  top: 138px;
  left: 170px;
  color: rgba(119, 119, 119, 1);
  width: 289px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Eloquia Text;
  font-weight: 600;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-rectangle558 {
  top: 229px;
  left: 448px;
  width: 705px;
  height: 831px;
  position: absolute;
  border-color: rgba(229, 229, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
}
 
.user-settings-billing-addressstart-text13 {
  top: 275px;
  left: 680px;
  color: rgba(110, 110, 115, 1);
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text14 {
  top: 275px;
  left: 793px;
  color: rgba(110, 110, 115, 1);
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text15 {
  top: 296px;
  left: 564px;
  color: rgba(36, 36, 36, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text16 {
  top: 356px;
  left: 579px;
  color: rgba(36, 36, 36, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text17 {
  top: 386px;
  left: 579px;
  color: rgba(36, 36, 36, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text18 {
  top: 296px;
  left: 794px;
  color: rgba(11, 102, 255, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text19 {
  top: 488px;
  left: 685px;
  color: rgba(110, 110, 115, 1);
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text20 {
  top: 488px;
  left: 793px;
  color: rgba(110, 110, 115, 1);
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text21 {
  top: 509px;
  left: 564px;
  color: rgba(36, 36, 36, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text22 {
  top: 509px;
  left: 794px;
  color: rgba(11, 102, 255, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text23 {
  top: 356px;
  left: 794px;
  color: rgba(11, 102, 255, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text24 {
  top: 387px;
  left: 794px;
  color: rgba(11, 102, 255, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text25 {
  top: 418px;
  left: 794px;
  color: rgba(11, 102, 255, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text26 {
  top: 448px;
  left: 793px;
  color: rgba(11, 102, 255, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text27 {
  top: 326px;
  left: 578px;
  color: rgba(36, 36, 36, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text28 {
  top: 326px;
  left: 793px;
  color: rgba(11, 102, 255, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text29 {
  top: 539px;
  left: 564px;
  color: rgba(36, 36, 36, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text30 {
  top: 599px;
  left: 579px;
  color: rgba(36, 36, 36, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text31 {
  top: 629px;
  left: 579px;
  color: rgba(36, 36, 36, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text32 {
  top: 539px;
  left: 794px;
  color: rgba(11, 102, 255, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text33 {
  top: 599px;
  left: 794px;
  color: rgba(11, 102, 255, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text34 {
  top: 630px;
  left: 794px;
  color: rgba(11, 102, 255, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text35 {
  top: 661px;
  left: 579px;
  color: rgba(36, 36, 36, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text36 {
  top: 662px;
  left: 794px;
  color: rgba(11, 102, 255, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text37 {
  top: 693px;
  left: 579px;
  color: rgba(36, 36, 36, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text38 {
  top: 694px;
  left: 794px;
  color: rgba(11, 102, 255, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text39 {
  top: 569px;
  left: 578px;
  color: rgba(36, 36, 36, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text40 {
  top: 569px;
  left: 793px;
  color: rgba(11, 102, 255, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text41 {
  top: 739px;
  left: 689px;
  color: rgba(110, 110, 115, 1);
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text42 {
  top: 739px;
  left: 794px;
  color: rgba(110, 110, 115, 1);
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text43 {
  top: 760px;
  left: 565px;
  color: rgba(36, 36, 36, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text44 {
  top: 760px;
  left: 795px;
  color: rgba(11, 102, 255, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text45 {
  top: 790px;
  left: 565px;
  color: rgba(36, 36, 36, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text46 {
  top: 850px;
  left: 580px;
  color: rgba(36, 36, 36, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text47 {
  top: 880px;
  left: 580px;
  color: rgba(36, 36, 36, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text48 {
  top: 790px;
  left: 795px;
  color: rgba(11, 102, 255, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text49 {
  top: 850px;
  left: 795px;
  color: rgba(11, 102, 255, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text50 {
  top: 881px;
  left: 795px;
  color: rgba(11, 102, 255, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text51 {
  top: 912px;
  left: 580px;
  color: rgba(36, 36, 36, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text52 {
  top: 913px;
  left: 795px;
  color: rgba(11, 102, 255, 1);
  width: 304px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text53 {
  top: 944px;
  left: 580px;
  color: rgba(36, 36, 36, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text54 {
  top: 945px;
  left: 795px;
  color: rgba(11, 102, 255, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text55 {
  top: 820px;
  left: 579px;
  color: rgba(36, 36, 36, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: right;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text56 {
  top: 820px;
  left: 794px;
  color: rgba(11, 102, 255, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Eloquia Display;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-edit {
  top: 243px;
  left: 1109px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.user-settings-billing-addressstart-text57 {
  top: 1104px;
  left: 635px;
  color: rgba(11, 102, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text58 {
  font-weight: 700;
}
 
.user-settings-billing-addressstart-frame122 {
  gap: 10px;
  top: 1268px;
  left: -3px;
  width: 1607px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.user-settings-billing-addressstart-group44 {
  width: 1607px;
  height: 885.9288940429688px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.user-settings-billing-addressstart-footer {
  top: 0px;
  left: 0px;
  width: 1607px;
  height: 886px;
  position: absolute;
}
 
.user-settings-billing-addressstart-text61 {
  top: 100.25146484375px;
  left: 291.16796875px;
  color: rgba(255, 255, 255, 1);
  width: 229px;
  height: auto;
  position: absolute;
  font-size: 29px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-simplecirclewhite11 {
  top: 96px;
  left: 238px;
  width: 43px;
  height: 44px;
  position: absolute;
}
 
.user-settings-billing-addressstart-text62 {
  top: 294.96942138671875px;
  left: 238.0078125px;
  color: rgba(166, 218, 255, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text63 {
  top: 327.63037109375px;
  left: 238.0078125px;
  color: rgba(166, 218, 255, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text64 {
  top: 362.3326721191406px;
  left: 238.0078125px;
  color: rgba(166, 218, 255, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text65 {
  top: 293.9487609863281px;
  left: 465.322265625px;
  color: rgba(166, 218, 255, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text66 {
  top: 328.6510314941406px;
  left: 465.322265625px;
  color: rgba(166, 218, 255, 1);
  width: 106px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text67 {
  top: 363.35333251953125px;
  left: 465.322265625px;
  color: rgba(166, 218, 255, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text68 {
  top: 398.05560302734375px;
  left: 464px;
  color: rgba(166, 218, 255, 1);
  width: 146px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text69 {
  top: 431.73724365234375px;
  left: 465px;
  color: rgba(166, 218, 255, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text70 {
  top: 467.46014404296875px;
  left: 465px;
  color: rgba(166, 218, 255, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text71 {
  top: 499.1004638671875px;
  left: 465px;
  color: rgba(166, 218, 255, 1);
  width: 167px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text72 {
  top: 534.8234252929688px;
  left: 466.32421875px;
  color: rgba(166, 218, 255, 1);
  width: 48px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text73 {
  top: 293.9487609863281px;
  left: 691.63671875px;
  color: rgba(166, 218, 255, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text74 {
  top: 327.63037109375px;
  left: 691.63671875px;
  color: rgba(166, 218, 255, 1);
  width: 91px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text75 {
  top: 293.9487609863281px;
  left: 915.94921875px;
  color: rgba(166, 218, 255, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text76 {
  top: 327.63037109375px;
  left: 915.94921875px;
  color: rgba(166, 218, 255, 1);
  width: 91px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text77 {
  top: 294.96942138671875px;
  left: 1144.265625px;
  color: rgba(166, 218, 255, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text78 {
  top: 241.89532470703125px;
  left: 238.0078125px;
  color: rgba(255, 255, 255, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text79 {
  top: 241.89532470703125px;
  left: 465.322265625px;
  color: rgba(255, 255, 255, 1);
  width: 44px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text80 {
  top: 240.87466430664062px;
  left: 691.63671875px;
  color: rgba(255, 255, 255, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text81 {
  top: 241.89532470703125px;
  left: 915.94921875px;
  color: rgba(255, 255, 255, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text82 {
  top: 241.89532470703125px;
  left: 1144.265625px;
  color: rgba(255, 255, 255, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text83 {
  top: 102.0655288696289px;
  left: 777.755859375px;
  color: rgba(255, 255, 255, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text84 {
  top: 329.67169189453125px;
  left: 1143.263671875px;
  color: rgba(166, 218, 255, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text85 {
  top: 363.35333251953125px;
  left: 1142.263671875px;
  color: rgba(166, 218, 255, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text86 {
  top: 399.07623291015625px;
  left: 1143.263671875px;
  color: rgba(166, 218, 255, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text87 {
  top: 435.81982421875px;
  left: 1143.263671875px;
  color: rgba(166, 218, 255, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text88 {
  top: 363.35333251953125px;
  left: 691.63671875px;
  color: rgba(166, 218, 255, 1);
  width: 99px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text89 {
  top: 399.07623291015625px;
  left: 691.63671875px;
  color: rgba(166, 218, 255, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text90 {
  top: 431.73724365234375px;
  left: 691px;
  color: rgba(166, 218, 255, 1);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text91 {
  top: 466.43951416015625px;
  left: 691.63671875px;
  color: rgba(166, 218, 255, 1);
  width: 169px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-frame10 {
  gap: 10px;
  top: 95.94159698486328px;
  left: 1191px;
  width: 143px;
  height: 41.84687042236328px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 112, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(0, 112, 255, 1);
}
 
.user-settings-billing-addressstart-text92 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text93 {
  top: 720.5827026367188px;
  left: 635.55859375px;
  color: rgba(255, 255, 255, 1);
  width: 239px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text94 {
  top: 720.5827026367188px;
  left: 954.001953125px;
  color: rgba(166, 218, 255, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text95 {
  top: 720.5827026367188px;
  left: 1170.302734375px;
  color: rgba(166, 218, 255, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-rectangle3 {
  top: 95.94159698486328px;
  left: 927.96484375px;
  width: 243px;
  height: 42px;
  position: absolute;
  border-color: rgba(229, 229, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
 
.user-settings-billing-addressstart-group21 {
  top: 683.839111328125px;
  left: 289px;
  width: 300px;
  height: 52.053428649902344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.user-settings-billing-addressstart-facebook-logo-vector {
  top: 1.020660400390625px;
  left: 0px;
  width: 50px;
  height: 51px;
  position: absolute;
}
 
.user-settings-billing-addressstart-ig-logo-vector {
  top: 1.020660400390625px;
  left: 128px;
  width: 50px;
  height: 51px;
  position: absolute;
}
 
.user-settings-billing-addressstart-x-logo-vector {
  top: 1.020660400390625px;
  left: 250px;
  width: 50px;
  height: 46px;
  position: absolute;
}
 
.user-settings-billing-addressstart-tik-tok-logo-vector {
  top: 0px;
  left: 192px;
  width: 44px;
  height: 51px;
  position: absolute;
}
 
.user-settings-billing-addressstart-link-in-logo-vector {
  top: 1.020660400390625px;
  left: 64px;
  width: 50px;
  height: 51px;
  position: absolute;
}
 
.user-settings-billing-addressstart-menudesktop-frame127 {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 1600px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.user-settings-billing-addressstart-menu-group91 {
  width: 1600px;
  height: 33px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(36, 36, 36, 1);
}
 
.user-settings-billing-addressstart-text96 {
  top: 10px;
  left: 505px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text97 {
  top: 10px;
  left: 400px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text98 {
  top: 10px;
  left: 570px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text99 {
  top: 10px;
  left: 671px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text100 {
  top: 10px;
  left: 748px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text101 {
  top: 10px;
  left: 817px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text102 {
  top: 10px;
  left: 902px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text103 {
  top: 10px;
  left: 1003px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-text104 {
  top: 10px;
  left: 1120px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.user-settings-billing-addressstart-simplecirclewhite12 {
  top: 7px;
  left: 351px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.user-settings-billing-addressstart-shoppingcart {
  top: 7px;
  left: 1222px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.user-settings-billing-addressstart-icon {
  top: 7px;
  left: 1176px;
  width: 20px;
  height: 20px;
  position: absolute;
}
